##
# (c) 2021-2024 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
option_settings:
  - namespace:  aws:autoscaling:launchconfiguration
    option_name:  SSHSourceRestriction
    value:  "tcp,22,22,10.0.0.0/8"
